# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/sdk will be requested for review when
# someone opens a pull request.
*                                     @temporalio/sdk
/temporalio/contrib/google_adk_agents @temporalio/sdk @temporalio/ai-sdk
/temporalio/contrib/langsmith         @temporalio/sdk @temporalio/ai-sdk
/temporalio/contrib/openai_agents     @temporalio/sdk @temporalio/ai-sdk
