.venv
__pycache__
.mypy_cache
/build
/dist
temporalio/bridge/target/
temporalio/bridge/temporal_sdk_bridge*
/tests/helpers/golangserver/golangserver
/tests/helpers/golangworker/golangworker
/.idea
/sdk-python.iml
/.zed
*.DS_Store
tags
/.claude
tmpclaude-*
