[tool.poetry]
name = "temporalio"
version = "0.1.0"
description = "Temporal.io Python SDK"
authors = ["Temporal Technologies Inc <sdk@temporal.io>"]
license = "MIT"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/temporalio/sdk-python/issues"
homepage = "https://github.com/temporalio/sdk-python#readme"
repository = "https://github.com/temporalio/sdk-python"
documentation = "https://docs.temporal.io/docs/python"

[tool.poetry.dependencies]
grpcio = "^1.43.0"
python = "^3.7"
types-protobuf = "^3.19.6"

[tool.poetry.dev-dependencies]
black = "^21.12b0"
grpcio-tools = "^1.43.0"
isort = "^5.10.1"
mypy = "^0.931"
pytest = "^6.2.5"
pytest-asyncio = "^0.17.2"

[tool.poe.tasks]
build = ["gen-protos", "test"]
format = [{cmd = "black ."}, {cmd = "isort ."}]
gen-protos = "python scripts/gen-protos.py"
lint = [{cmd = "black --check ."}, {cmd = "isort --check-only ."}]
test = "pytest"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.isort]
profile = "black"
skip_gitignore = true

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
